@media screen and (max-width: 1366px) {
    #header #navbar {
        #menu .nav-item .is-menu {
            font-size: 16px;
        }
    }
    
    #main-content {
        #benefit {
            .benefit-item {
                img {
                    width: 60px;
                }
    
                .card-title {
                    font-size: 20px;
                }
    
                .card-text {
                    font-size: 15px;
                }

                .content {
                    padding-right: 10px;
                }
            }
        }
    }

    #footer #footer_content #more_info {
        height: 340px;
    }
}

@media screen and (max-width: 1200px) {
    #header #navbar {
        #menu .nav-item .is-menu {
            font-size: 16px;
        }

        .languge-icon {
            .vi-icon {
                width: 30px;
            }

            .drop-down-icon {

                width: 18px;
            }
        }

        .cart img {
            width: 30px;
        }

        .logout img {
            width: 25px;
        }
    }           
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #main-content #product .card-product .card-image {
        height: 140px;
    }
}

@media screen and (max-width: 1070px) {
    #header {
        #top {
            .call-icon span {
                margin-left: 0;
            }
            .mail-icon {
                margin-left: 20px;
            }
        }
    
        #header_social {
            .twitter-icon {
                margin-right: 30px;
            }
            .facebook-icon {
                margin-right: 30px;
            }
            .google-icon {
                margin-right: 30px;
            }
        }

        #navbar {

            #menu .nav-item .is-menu {
                font-size: 14px;
            }
    
            .navbar-nav .dropdown-menu {
                left: 0;
                position: absolute;
                min-width: 8rem;
    
                a img {
                    width: 20px;
                }
    
                span {
                    font-size: 14px;
                }
            }
        }
    }
    
    #main-content {
        #product {
            .card-product, .card-image {
                border-radius: 20px!important;
            }
        }
        #search .input-group {
            height: 50px;
            .input-group-text {
                width: 50px;
                height: 50px;
                img {
                    width: 30px;
                    height: 30px;
                    margin-left: -3px;
                }
            }
            input[placeholder] {
                font-size: 18px;
            }
        }
        #benefit {
            .benefit-item {
                img {
                    width: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #header #navbar .logo img {
        width: 70px;
        height: 51px;
        margin-right: -3rem;
    }

    #main-content #product {
        .category-title {
            font-size: 30px;
            line-height: 24px;
        }

        .card-title {
            padding-top: 10px!important;
            a {
                font-size: 18px!important;
                line-height: 24px!important;
            }
        }

        .card-body .evaluate a, .card-body .evaluate img {
            width: 21px!important;
            height: 21px!important;
        }

        .card-footer .prod-cart {
            width: 35px!important;
            height: 35px!important;
            padding-right: 25px!important;
            margin-top: 0!important;
            img {
                margin-left: -6px!important;
                margin-top: -8px;
            }
        }
    }

    #main-content #benefit {
        .benefit-item {
            img {
                width: 60px;
            }
        }
    }

    #footer {
        #footer_content {
            height: auto;
            .copyright {
                font-size: 12px;
                line-height: 30px;
            }
            #footer_social {
                line-height: 70px;

                .ins, .twit, .fb {
                    width: 22px;
                    height: 22px;
                }
            }

            .hr {
                height: 2px!important;
            }

            .hr-width {
                margin-top: 50px;
            }

            #more_info {
                height: auto;
                .footer-logo img {
                    width: 121px;
                    height: 121px;
                }
                padding-top: 25px;

                .title {
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 53px;
                }

                .info {
                    font-size: 12px;
                    line-height: 22px;
                }

                .info-footer {
                    h4 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    #main-content #product .card-product .card-image {
        height: 160px;
    }
}

@media screen and (max-width: 576px) {
    #header #navbar {
        #menu-content-mobi {
            width: 75%;
        }
    }

    #main-content #product {
        .category-title {
            font-size: 18px;
            line-height: 24px;
        }
        .product-item {
            padding: 5px;
            .card-image {
                height: 170px;
            }
        }
    }

    #main-content #search .input-group {
        margin-bottom: 0;
        height: 40px;
        .input-group-text {
            width: 40px;
            height: 40px;
            img {
                width: 25px;
                height: 25px;
                margin-left: -5px;
            }
        }
        input[placeholder] {
            font-size: 12px;
        }
    }

    #footer #partner_slider {
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 420px) {
    #main-content #product {
        .product-item {
            padding: 4px;

            .card-product {
                padding: 7px;
                .card-image {
                    height: 125px;
                }

                .card-title {
                    padding-top: 5px!important;
                }

                .card-footer .price {
                    font-size: 20px;
                }
            }
        }
    }

    #main-content {
        #benefit {

            .card {
                margin-bottom: 0;
            }
    
            .benefit-item {
                .card-title {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                }
    
                .card-text {
                    font-size: 14px;
                    line-height: 18px;
                }

                img {
                    width: 50px;
                }
            }
        }
    }

    #footer {
        height: auto;
        #partner_slider {
            height: 90px;
        }

        #footer_content {
            height: auto;
            .copyright {
                font-size: 10px;
            }

            #more_info {
                .title {
                    font-size: 20px!important;
                    line-height: 40px;
                }

                .info {
                    line-height: 18px;
                }

                .info-footer {
                    h4 {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 330px) {
    #main-content #product {
        .product-item {
            padding: 2px;

            .card-product {
                padding: 5px;
                .card-image {
                    height: 100px;
                }
            }
        }
    }
}